body{
    background-color: hsl(216, 12%, 8%);
}
.container{
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    background-color: hsl(213, 19%, 18%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 25%;
    border-radius: 20px;

}
p{
    font-size: 15px;
    color: hsl(217, 12%, 63%);
}
h1{
    color: hsl(0, 0%, 100%);
}
.one{
    background-color: hsl(214, 22%, 22%);
    color: hsl(217, 12%, 63%);
    border-radius: 40px;
    padding: 15px;
    border: 1px solid hsl(214, 22%, 22%);
}
.one:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
    
}
.one:active{
    background-color: hsl(0, 0%, 100%);
    transition: background-color 0.5s ease, color 0.5s ease;
}
.reviews{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}
.submit{
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid hsl(25, 97%, 53%);
    font-weight: bold;
}
.submit:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0,0%, 100%);
}
.big-card{
    display: none;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.thanksCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}
.selected{
    background-color: hsl(214, 22%, 22%);
    border-radius: 40px;
    padding: 15px;
    color: hsl(25, 97%, 53%);
}
button.selected{
    background-color: hsl(0, 0%, 100%);
    border-radius: 40px;
    padding: 15px;
    color: hsl(216, 12%, 8%);
}